* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background:white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
hr{
  margin-bottom: 15px;
  height:3px;
  background-color: black;
}

h1 {
  margin: 10px 0;
  color: black;
  font-size: 24px;
  text-align: left;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 5px;
  border: 2px solid #c8c0d6;
  outline: none;
  width: 100%;
  background: transparent;
  color:black;
  font-size: large;
  margin-bottom: 10px;
}

.todo-input::placeholder {
  color: rgb(210, 191, 191);
}

.todo-button {
  padding: 16px 148px;
  border: none;
  cursor: pointer;
  outline: none;
  background:green;
  color: #fff;
  text-transform: capitalize;
  font-size:large ;
  width: 100%;
  opacity: 0.7;
}

.todo-input.edit {
  border: 2px solid #c8c0d6;;
  margin-top: 15px;
}

.todo-button.edit {
  background: green;
  padding: 16px 22px;
  margin-left: 10px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  color: black;
  background: white;
  border-bottom:2px solid #ddd4c4 ;
  border-radius: 2px;
  padding: 5px 15px;
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: black;
}

.edit-icon {
  color: black;
}

.todo-list-heading{
  color:white;
  background: black;
  font-size: xx-large;
  margin:0;
  padding: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
}